%h1
  Modifica Incontro del 
  = "#{link_to @event.name, @event}"
= error_messages_for :event
- form_for(@event) do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p
    = f.submit "Aggiorna"
    |
    ="#{link_to 'Annulla', events_path}"
